# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VS Code / PyCharm
.vscode/
.idea/

# Environment variables
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.json